<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BootStrap</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" >


    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div  id = "#content">
<h1>Hello There !</h1>
<p>This is a really good looking web page</p>

{% block content %}

{% endblock %}

</div>
</body>
</html>